:root {
  --title-text-color: rgba(33, 33, 33, 1);
  --text-color: rgba(117, 117, 117, 1);
  --accent-color: rgba(33, 150, 243, 1);
  --first-contrast-text-color: rgba(255, 255, 255, 1);
  --second-contact-text-color: rgba(255, 255, 255, 0.6);

  --primary-bg: rgba(255, 255, 255, 1);
  --dark-bg-color: rgba(47, 48, 58, 1);
  --section-bg-color: #e5e5e5;
}

p,
h1,
h2,
h3,
h4 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--primary-bg-color);
  color: var(--text-color);
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.hero,
.footer {
  background-color: var(--dark-bg-color);
}

.team {
  background-color: var(--section-bg-color);
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

/*----------------------------HEADER--------------------------*/

.header {
  border-bottom: 1px solid #ececec;
}

.logo {
  margin: 24px 93px 24px 0;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1, 42;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.logo-accent {
  color: var(--title-text-color);
}

.footer-logo-accent {
  color: var(--first-contrast-text-color);
}

.site-nav,
.team-list {
  display: flex;
}

.main-line {
  display: flex;
  align-items: center;
}

.header-contact {
  display: flex;
  margin-left: auto;
}

.site-nav .item {
  margin-right: 50px;
}

.site-nav .item:last-child {
  margin-right: 0;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.header .current {
  color: var(--accent-color);
}

.header-contact .item + .item {
  margin-left: 50px;
}

.header-contact-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.header-contact-link:hover,
.header-contact-link:focus {
  color: var(--accent-color);
}

/*----------------------------HERO----------------------------*/

.hero {
  text-align: center;
  padding: 200px 0;
}

.hero-title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1, 36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--first-contrast-text-color);
}

/*----------------------------BUTTONS------------------------*/

.button {
  border-radius: 4px;
  border: 0px;
  color: var(--first-contrast-text-color);
  background-color: var(--accent-color);
  font-family: inherit;
  font-size: 16px;
  line-height: 1.87;
  cursor: pointer;
}

.button.primary {
  color: var(--first-contrast-text-color);
  background-color: var(--accent-color);
  font-weight: 700;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  margin: auto;
}

.button.primary:hover,
.button.primary:focus {
  background-color: rgba(24, 140, 232, 1);
}

.button-list {
  margin-bottom: 50px;
}

.button.secondary {
  color: var(--title-text-color);
  background-color: rgba(245, 244, 250, 1);
  font-weight: 500;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 6px 22px;
}

.button-list {
  display: flex;
  justify-content: center;
}

.button-list .current,
.button.secondary:hover,
.button.secondary:focus {
  color: var(--first-contrast-text-color);
  background-color: var(--accent-color);
}

.button-list .btn + .btn {
  margin-left: 8px;
}

/*-------------------------FEATURES--------------------------*/

.features-list {
  display: flex;
}

.features-list .item {
  margin-right: 30px;
}

.features-list .item:last-child {
  margin-right: 0;
}

.features {
  font-size: 14px;
  letter-spacing: 0.03em;
}

.features-title {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-text-color);
  margin-bottom: 10px;
}

.features-text {
  line-height: 1.71;
  color: var(--text-color);
  max-width: 270px;
  min-height: 75px;
}

.features-section {
  padding-bottom: 0;
}

/*  .section .bg:nth-child(2n) {
  background-color: var(--section-bg-color);
} */

/*-------------------------------WORK--------------------------*/

.work-title,
.team-title {
  font-size: 36px;
  line-height: 1, 16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  padding-bottom: 50px;
}

.work-list {
  display: flex;
  justify-content: center;
  gap: 30px;
}

/*.work-list > .item {
  margin-right: 30px;
}

.work-list > .item:last-child {
  margin-right: 0;
}*/

/*-------------------------------TEAM-----------------------*/

.team {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-list .team-item + .team-item {
  margin-left: 30px;
}

.team-item {
  max-width: 270px;
  margin-left: 0;
  margin-right: 0;
  border-radius: 4px;
  overflow: hidden;
  background-color: var(--primary-bg);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-image {
  height: auto;
  display: block;
}

.team-content {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-name {
  font-weight: 500;
  color: var(--title-text-color);
  margin-bottom: 10px;
}

.team-position {
  color: var(--text-color);
}

/*----------------------------FOOTER--------------------------*/

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-logo {
  margin-bottom: 20px;
}

.footer-address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer-address-link {
  color: var(--first-contrast-text-color);
}

.footer-address-link:hover,
.footer-address-link:focus {
  color: var(--accent-color);
}

.footer-address-contact {
  color: var(--second-contact-text-color);
}

.footer-address-contact:hover,
.footer-address-contact:focus {
  color: var(--accent-color);
}

/*-----------------------------GALLERY------------------------*/

.gallery-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;

  padding: 0;
}

.gallery-list > .item {
  flex-basis: calc(100% / 3 - 30px);
  margin-right: 15px;
  margin-left: 15px;
  margin-bottom: 30px;
  overflow: hidden;
  background-color: var(--primary-bg);
}

.gallery-list .item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.gallery-list .item:nth-child(3n) {
  margin-right: 0;
}

/*  ***ALTERNATIVE***


.gallery-list .item {
    max-width: 370px;
    max-width: 370px;
    margin-right: 30px;


.gallery-list .item:not(:nth-child(3n)) {
    margin-right: 30px;
  } 
  
  .gallery-list .item:not(:nth-last-child(-n+3)) {
    margin-bottom: 30px;
  } */

.image-title {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.image-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.card-content {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}
